/* App.css */
.App {
  text-align: center;
}

.book-list {
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.book-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  height: 100%;
}

.book-card img {
  width: 100%;
  border-radius: 5px;
}

.book-details {
  margin-top: 20px;
}

input[type='text'],
input[type='number'],
textarea {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
}
